---
import { Image } from "astro:assets";

import Bat from "../assets/pictures/graphics/bat.png";

const { fontColor } = Astro.props;
---

<section
  class=`flex justify-between items-center p-8 absolute top-0 left-0 w-full z-10 text-${fontColor} ${fontColor === 'white' ? 'text-shadow-black text-shadow-2xs': ''}`
>
  <h1 class="font-bold text-4xl md:text-6xl font-style-script">
    The Fairy Browmother
  </h1>
  <nav class="hidden md:flex gap-4 px-8">
    <a href="/the-fairy-browmother/" class="hover:underline">Home</a>
    <a href="/the-fairy-browmother/about" class="hover:underline">About</a>
    <a href="/the-fairy-browmother/services" class="hover:underline">Services</a
    >
    <a href="/the-fairy-browmother/portfolio" class="hover:underline"
      >Portfolio</a
    >
    <a href="/the-fairy-browmother/faq" class="hover:underline">FAQ</a>
    <a href="/the-fairy-browmother/contact" class="hover:underline">Contact</a>
  </nav>
  <button
    class="block md:hidden px-4 py-2 bg-[var(--dark-purp)] text-white rounded-[8px] hover:cursor-pointer"
    id="mobile-menu"
  >
    Navigation
  </button>
  <nav
    class="text-black text-shadow-none md:hidden flex flex-col fixed h-svh w-60 bg-[var(--light-purp)] gap-8 p-8 top-0 left-0 -translate-x-full transition transform ease-in-out duration-250 border-r-2 border-r-[var(--dark-purp)] overflow-scroll"
    id="mobile-nav"
  >
    <p class="font-bold text-4xl font-style-script">The Fairy Browmother</p>
    <a href="/the-fairy-browmother/">Home</a>
    <a href="/the-fairy-browmother/about">About</a>
    <a href="/the-fairy-browmother/services">Services</a>
    <a href="/the-fairy-browmother/portfolio">Portfolio</a>
    <a href="/the-fairy-browmother/faq">FAQ</a>
    <a href="/the-fairy-browmother/contact">Contact</a>
    <div class="mt-auto mx-auto">
      <Image src={Bat} alt="" />
    </div>
  </nav>
</section>

<script>
  const menuBtn = document.querySelector("#mobile-menu");
  const mobileNav = document.querySelector("#mobile-nav");
  const body = document.querySelector("body");

  menuBtn?.addEventListener("click", () => {
    mobileNav?.classList.toggle("translate-x-0");
    body?.classList.toggle("overflow-hidden");
  });
</script>
