---
import { Image } from "astro:assets";

import Bat from "../assets/pictures/graphics/bat.png";

const { fontColor } = Astro.props;
---

<section
  class=`flex justify-between items-center p-8 absolute top-0 left-0 w-full z-10 text-${fontColor} ${fontColor === 'white' ? 'text-shadow-black text-shadow-2xs': ''}`
>
  <h1 class="font-bold text-4xl md:text-6xl font-style-script">
    The Fairy Browmother
  </h1>
  <nav class="hidden md:flex gap-4 px-8">
    <a href="/the-fairy-browmother/" class="hover:underline">Home</a>
    <a href="/the-fairy-browmother/about" class="hover:underline">About</a>
    <a href="/the-fairy-browmother/services" class="hover:underline">Services</a
    >
    <a href="/the-fairy-browmother/portfolio" class="hover:underline"
      >Portfolio</a
    >
    <a href="/the-fairy-browmother/faq" class="hover:underline">FAQ</a>
    <a href="/the-fairy-browmother/contact" class="hover:underline">Contact</a>
  </nav>
  <button
    class="block md:hidden px-4 py-2 text-white rounded-[8px] hover:cursor-pointer"
    id="mobile-menu"
  >
    <svg
      width="35"
      height="40"
      viewBox="0 0 23 23"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M 2 2.5 L 20 2.5" id="path1"></path>
      <path d="M 2 9.423 L 20 9.423" id="path2"></path>
      <path d="M 2 16.346 L 20 16.346" id="path3"></path>
    </svg>
    <nav
      class="text-black text-shadow-none md:hidden flex flex-col fixed h-svh w-60 bg-[var(--light-purp)] gap-8 p-8 top-0 left-0 -translate-x-full transition transform ease-in-out duration-250 border-r-2 border-r-[var(--dark-purp)] overflow-scroll"
      id="mobile-nav"
    >
      <p class="font-bold text-4xl font-style-script">The Fairy Browmother</p>
      <a href="/the-fairy-browmother/">Home</a>
      <a href="/the-fairy-browmother/about">About</a>
      <a href="/the-fairy-browmother/services">Services</a>
      <a href="/the-fairy-browmother/portfolio">Portfolio</a>
      <a href="/the-fairy-browmother/faq">FAQ</a>
      <a href="/the-fairy-browmother/contact">Contact</a>
      <div class="mt-auto mx-auto w-28 h-28">
        <Image src={Bat} alt="" />
      </div>
    </nav>
  </button>

  <script>
    const menuBtn = document.querySelector("#mobile-menu");
    const mobileNav = document.querySelector("#mobile-nav");
    const body = document.querySelector("body");
    const path1 = document.querySelector("#path1");
    const path2 = document.querySelector("#path2");
    const path3 = document.querySelector("#path3");

    let isMenuClosed = true;

    menuBtn?.addEventListener("click", () => {
      mobileNav?.classList.toggle("translate-x-0");
      body?.classList.toggle("overflow-hidden");

      if (isMenuClosed) {
        path1?.setAttribute("d", "M 3 16.5 L 17 2.5");
        path2?.setAttribute("style", "opacity: 0");
        path3?.setAttribute("d", "M 3 2.5 L 17 16.346");
      } else {
        path1?.setAttribute("d", "M 2 2.5 L 20 2.5");
        path2?.setAttribute("style", "opacity: 1");
        path3?.setAttribute("d", "M 2 16.346 L 20 16.346");
      }
      isMenuClosed = !isMenuClosed;
    });
  </script>
</section>
